{% extends 'main.html' %}

{% block title %} Acerca de Nosotros {% endblock %}

{% block head %}
    <style>
        body{
            background-color: black;
            color: white;
        }
    </style>
{%  endblock%}

{% block content %}
    <div class="container">
        <div class="row d-flex align-content-center">
            <h1 align="center">Acerca de nosotros</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae fugiat voluptatem excepturi. Veritatis, ipsa, eius enim harum quas illum beatae dicta adipisci inventore illo qui repellat. Dignissimos quasi consequatur commodi.</p>
        </div>
    </div>

{% endblock %} 